body{
    background-color:#971425 ;
    color: white;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restart{
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: rgb(37, 150, 190);
    color: white;
  border-radius: 50px;
  font-size: 20px;
  }